<div class="container-fluid">
  <div class="row"><br />
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <%= form_for @question do |q| %>


  <div class="field">
    <%= q.text_field :the_question, :class => 'form-control', :placeholder => 'question' %> 
    <%= q.hidden_field :user_id, value: current_user.id %>
  </div>

  <%= q.submit "Create Question", :class => 'btn btn-warning' %>

<% end %>

  </div>