   <% @users.each do |u| %>
        <li>
            <strong> <%= u.id %> </strong><br />
            <%= u.username %><br />
            <%= u.email %><br />
             <%= link_to "More details!", user_path(u) %>
        </li>
    <% end %>