<!-- web -->   
<!-- <script src="https://www.webrtc-experiment.com/RecordRTC.js"> </script>  -->    
<!-- include tag - dev looks in assets/production in public -->    
<%#= javascript_include_tag "RecordRTC", "data-turbolinks-track" => true %>    

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h1>QUESTION: </h1><%= @question.the_question %>
    </div>
    <div class='col-md-8'>
      <p>
          <video width="90%" height="90%"></video> 
      </p><hr />
      <div>
        <button class='btn btn-warning' id="btn-start-recording">record</button>
        <button class='btn btn-warning' id="btn-stop-recording" disabled="">stop</button>
<br />
        <form id="form-post-video" name='video' action="/videos/save" method="post" onsubmit="postVideo()">
          <input id="btn-save" class="btn btn-warning" disabled="" value="post" type="submit">
          <input id='filepath' name='filepath' type='hidden' value=''>
          <input id='question_id' name='question_id' value="<%=@question.id%>" type='hidden'>
          <input id='user_id' name='user_id' value="<%=current_user.id%>" type='hidden'>
        </form>

      </div>
      <hr />
      <div>
          <label id="percentage">0%</label>
          <progress id="progress-bar" value=0></progress><br />
      </div>
    </div>
  </div>
</div>
<%#= javascript_include_tag "RecordRTC" %>   
<%#= javascript_include_tag "mediaRecorder" %>
<script>window.onload=function(){mediaRecorder()}</script>


