<div id="header" class="header1"></div>




<!-- num is counting how many cells we are along -->
<% num = 0 %>
<% @questions.take(6).each do |q| %>
  <!-- every group of 3 opens a new row -->
  <% if (num % 3) == 0 %>
    <div class="row">
  <% end %>
    <div class="col-md-4">
      <div class="homepage-boxes">
      QUESTION: <%= q.the_question %><br />
      <% if !q.videos.nil? %>
        <% if !q.videos[0].nil? %>
          <%if !q.videos[0].filepath.nil? %>
         
            <video width="90%" height="90%" controls>
              <source src="<%= q.videos[0].filepath %>" type="video/webm">
            </video>
          <br/ >
          <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
    <!-- if at end of group of 3, it closes the row out -->
    <% if (num % 3) == 2 %>
      </div>
    <% end %>
    <!-- Adds 1 each loop -->
    <% num += 1 %>
<% end %>

<!--ONLY RUNS AFTER LOOP IS OVER if not evenly divisable by 3, must add a div -->
  <% if (num % 3) != 0 %>
    </div>
  <% end %>




 <div class="row" style="background-color: black; color: white;">
  <div class="col-md-3">
    <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
     <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
       <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
       <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
</div>
 <div class="row" style="background-color: black; color: white;">
  <div class="col-md-12">

  </div>
 </div>
