<div id="header" class="header1"></div>

<div class="row">
  <div class="col-md-4">  
 <video width="480" height="480" controls>
  <source src="1d39ffk1wzh1nt13n8dsj_merged.webm" type="video/webm">
  </video>
  </div>
  <div class="col-md-4">
  <video width="480" height="480" controls>
  <source src="1d39ffk1wzh1nt13n8dsj_merged.webm" type="video/webm">
  </video>
  </div>
  <div class="col-md-4">
   <video width="480" height="480" controls>
  <source src="1d39ffk1wzh1nt13n8dsj_merged.webm" type="video/webm">
  </video>

  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <iframe class="vine-embed" src="https://vine.co/v/O5q9TMb6rir/embed/simple" width="480" height="480" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
  </div>
  <div class="col-md-4">
    <iframe class="vine-embed" src="https://vine.co/v/OilgX6MEqMd/embed/simple" width="480" height="480" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
  </div>
  <div class="col-md-4">
    <iframe class="vine-embed" src="https://vine.co/v/M9HOLIZOOu3/embed/simple" width="480" height="480" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
  </div>
</div>
 
 <div class="row" style="background-color: black; color: white;">
  <div class="col-md-3">
    <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
     <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
       <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
  <div class="col-md-3">
       <ul>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
      <li><a href="#" class="whiteLinks">Link</a></li>
    </ul>
  </div>
</div>
 <div class="row" style="background-color: black; color: white;">
  <div class="col-md-12">
    <div class="social">&#62220;</div>
    <div class="social">&#62217;</div>
    <div class="social">&#62223;</div>
    <div class="social">&#62232;</div>
    <div class="social">&#62235;</div>
    <div class="social">&#62226;</div>
    <div class="social">&#62214;</div>
  </div>
 </div>
